{{- $hideTitle := false -}}
{{- if isset . "hideTitle" -}}
  {{- $hideTitle = .hideTitle -}}
{{- end -}}

{{- if not $hideTitle -}}
  <header>
    <h1 class="mt-5 text-4xl font-extrabold text-neutral-900 dark:text-neutral">{{ .context.Title }}</h1>
    <div class="mt-1 mb-2 text-base text-neutral-500 dark:text-neutral-400 print:hidden">
      {{- partial "article/components/metadata" .context -}}
    </div>
  </header>
{{- else -}}
  <header>
    <div class="mt-1 mb-2 text-base text-neutral-500 dark:text-neutral-400 print:hidden">
      {{- partial "article/components/metadata" .context -}}
    </div>
  </header>
{{- end -}}


